<h1>Listing tangos</h1>

<table>
  <tr>
    <th>Eword</th>
    <th>Jword</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tangos.each do |tango| %>
  <tr>
    <td><%= tango.eword %></td>
    <td><%= tango.jword %></td>
    <td><%= link_to 'Show', tango %></td>
    <td><%= link_to 'Edit', edit_tango_path(tango) %></td>
    <td><%= link_to 'Destroy', tango, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tango', new_tango_path %>
