<p id="notice"><%= notice %></p>

<p>
  <b>Eword:</b>
  <%= @tango.eword %>
</p>

<p>
  <b>Jword:</b>
  <%= @tango.jword %>
</p>


<%= link_to 'Edit', edit_tango_path(@tango) %> |
<%= link_to 'Back', tangos_path %>
